@charset "UTF-8";

/* CSS Document */

/** google font IBM Plex Sans KR */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans KR', sans-serif;
    background-color: #f5f5f5;
}

#appBar {
    background-color: rgba(255, 255, 255, 0.9);
    
    height: 50px;
    line-height: 30px;
    padding: 0 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#appBar__title {
    float: left;
    color: cornflowerblue;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#appBar__menu {
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-10%, -40%);
}

.appBar__selected {
    color: cornflowerblue;
}

.appBar__nav {
    font-size: 20px;
    text-decoration: none;
    margin: 0 10px;
    cursor: pointer;
}

.appBar__nav:hover {
    color: cornflowerblue;
}

.appBar__spacer {
    height: 50px;
}

#appBar__spacer {
    height: 50px;
}

.section {
    width: 100%;
    height: 100vh;
    background-color: white;
    position: relative;
}

.section__title {
    position: relative;
    top: 1em;
    left: 1em;
    font-size: 2em;
    font-weight: bold;
}

.hidden {
    display: none;
}

#go-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.rainbow {
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.shake {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}