@charset "UTF-8";

/* CSS Document */

/** google font IBM Plex Sans KR */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans KR', sans-serif;
    background-color: #f5f5f5;
}

#appBar {
    background-color: white;
    height: 50px;
    line-height: 30px;
    padding: 0 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#appBar__title {
    float: left;
    color: cornflowerblue;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clock {
    background-color: white;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
}